@model List<Order>

@{
    ViewData["Title"] = "Index";
}

<partial name="_AdminMenuPartial" />

<h3>Customer orders</h3>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Customer Id</th>
            <th>Paid</th>
            <th>Total Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                <a asp-route-id="@item.OrderId" asp-action="Details" type="button">Details</a>
            </td>
            <td>
                <a asp-route-id="@item.OrderId" asp-action="EditOrder" type="button">Edit order</a>
            </td>
            <td>
                <a asp-route-id="@item.OrderId" asp-action="DeleteOrder" type="button">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
