@model Webshop.Viewmodels.ProductViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete Product</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <p>@Model.Name<p/>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            Uploaded Image
        </dt>
        <dd class="col-sm-10">          
                @if(Model.ProductImage != null && Model.Id < 1002)
                {
                    <img src="@("~/Images/Productimages/"+Model.ProductImage.ImageName)" asp-append-version="true" width="250" height="250" /> 
                }
                else
                {
                    <img class="card" src="~/Images/example.jpg">
                }                      
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
