@model Webshop.Viewmodels.InventoryViewModel

@foreach (Category cat in Model.ProductCategories)
{
    <div class="category-container">

        <h1>@cat.CategoryName</h1>

        @foreach (var product in Model.Inventory)
        {
            if (product.Category.CategoryName == cat.CategoryName)
            {
                <ul>
                    <li>
                        @if (product.ProductImage == null)
                        {
                            <img src="@("~/images/ProductImages/placeholderth.jpg")"  alt="@product.Name" asp-append-version="true" />
                        }
                        else if (product.ProductImage.ImageId == 8)
                        {
                            <img src="@("~/images/ProductImages/"+product.ProductImage.ImageThumbName)" style="object-position: left;" alt="@product.Name" asp-append-version="true" />
                        }
                        else
                        {
                            <img src="@("~/images/ProductImages/"+product.ProductImage.ImageThumbName)" alt="@product.Name" asp-append-version="true" />
                        }

                        <h2>@Html.DisplayFor(modelItem => product.Name)</h2><p>@Html.DisplayFor(modelItem => product.Description)</p>

                        <h4>@Html.DisplayFor(modelItem => product.Price) kr</h4>

                        <form asp-controller="ShoppingCart" style="width: 150px; float: left; position:absolute;" asp-action="AddToCart" asp-route-id="@product.Id" method="post">
                            <input type="number" style="width:50px" value="1" name="Quantity" min="1" oninput="validity.valid||(value='');"/>
                            <input type="submit" value="Add to cart" />
                        </form>

                        @if (User.IsInRole("Admin"))
                        {

                            <div class="admin-edit" style="margin-left: 200px; position: absolute;">
                                <a asp-controller="Inventory" asp-action="Edit" asp-route-id="@product.Id">Edit</a> | <a asp-controller="Inventory" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                            </div>
                        }
                    </li>
                </ul>
            }
        }
    </div>
}