@model Webshop.Viewmodels.InventoryViewModel

@*@if (User.IsInRole("Admin"))
    {
    <p>
    <a asp-action="CreateProduct">Create New</a>
    </p>
    }*@

@foreach (var product in Model.Inventory)
{


    <ul>
        @if (product.ProductImage != null)
        {
            <li>
                @if (product.ProductImage.ImageId == 8)
                {
                    <img src="@("~/images/ProductImages/"+product.ProductImage.ImageThumbName)" style="object-position: left;" asp-append-version="true" /><h2>@Html.DisplayFor(modelItem => product.Name)</h2><p>@Html.DisplayFor(modelItem => product.Description)</p>

                    <h4 style="width: 50px;">@Html.DisplayFor(modelItem => product.Price) kr</h4>


                    <form asp-controller="ShoppingCart" style="width: 150px; float: left; position:absolute;" asp-action="AddToCart" asp-route-id="@product.Id" method="post">
                        <input type="number" style="width:50px" value="1" name="Quantity" />
                        <input type="submit" value="Add to cart" />
                    </form>
                    
                }
                else
                {
                    
                    <img src="@("~/images/ProductImages/"+product.ProductImage.ImageThumbName)" asp-append-version="true" /><h2>@Html.DisplayFor(modelItem => product.Name)</h2><p>@Html.DisplayFor(modelItem => product.Description)</p>

                    <h4 style="width: 50px;">@Html.DisplayFor(modelItem => product.Price) kr</h4>


                    <form asp-controller="ShoppingCart" style="width: 150px; float: left; position:absolute;" asp-action="AddToCart" asp-route-id="@product.Id" method="post">
                        <input type="number" style="width:50px" value="1" name="Quantity" />
                        <input type="submit" value="Add to cart" />
                    </form>
                }


                

                @if (User.IsInRole("Admin"))
                {

                    <div class="admin-edit" style="margin-left: 200px; position: absolute;">
                        <a asp-action="Edit" asp-route-id="@product.Id">Edit</a> | <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                    </div>
                }

            </li>
        }

        else
        {
            <li>
                <img src="@("~/images/ProductImages/placeholderth.jpg")" asp-append-version="true" /><h2>@Html.DisplayFor(modelItem => product.Name)</h2><p>@Html.DisplayFor(modelItem => product.Description)</p>

                <h4 style="width: 50px;">@Html.DisplayFor(modelItem => product.Price) kr</h4>


                <form asp-controller="ShoppingCart" style="width: 150px; float: left; position:absolute;" asp-action="AddToCart" asp-route-id="@product.Id" method="post">
                    <input type="number" style="width:50px" value="1" name="Quantity" />
                    <input type="submit" value="Add to cart" />
                </form>

                @if (User.IsInRole("Admin"))
                {

                    <div class="admin-edit" style="margin-left: 200px; position: absolute;">
                        <a asp-action="Edit" asp-route-id="@product.Id">Edit</a> | <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                    </div>
                }

            </li>
        }
    </ul>

    @*<td>
        @Html.DisplayFor(modelItem => product.Category.CategoryName)
        </td>*@

}
