@model List<ProductViewModel>


@* not used currently  *@


<div>
    <h3>Cupcakes:</h3>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>
                        @if (product.ProductImage != null)
                        {
                            <img src="@("~/images/ProductImages/"+product.ProductImage.ImageThumbName)" asp-append-version="true" /> }
                        else
                        {
                            <img src="@("~/images/ProductImages/placeholderth.jpg")" asp-append-version="true" />}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.Price)
                    </td>
                    @if (User.IsInRole("Admin"))
                    {

                        <td>
                            <a asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>