@model Webshop.Viewmodels.ReceiptViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Receipt</title>
</head>
<body>

    <h2>Order Id: @Model.OrderId</h2>



    <h4>@Model.FirstName @Model.LastName</h4>
    <h4>@Model.Address</h4>
    <h4>@Model.PostalCode @Model.City</h4>
    <h4>@Model.Country</h4>


    <h4>@Model.OrderDate</h4>


    @foreach (var item in @Model.OrderDetails)
    {
        @item.Quantity     @item.ProductName
    }

    <h2>Total Cost: @Model.TotalCost</h2>

    <div>
        <a class="btn btn-primary" asp-route-id="@Model.OrderId" asp-controller="Customer" asp-action="Print">Print Receipt</a>
    </div>


</body>
</html>
